
a.openapi-link {
  text-decoration: none;
  color: #0c63e4;
  font-size: .8em;
}

.table-hover tbody tr:hover td {
  background-color: #e7f1ff;
  cursor: pointer;
}

.stats-table {
    font-size: 0.9rem;
}
