
  <div class="modal fade" id="rcpForm"  aria-labelledby="rcpForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rcpForm">New Runway Configuration Prediction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{{ url_for('web.arrivals_runway_config_prediction', destination_icao=destination_airport.icao) }}">
          <div class="modal-body">
            <div class="form-group">
            <div class="mb-3">
              <label for="rcpDateTimeRange" class="form-label">Arriving at</label>
              <input type="range" class="form-range" min="0" max="0" id="rcpDateTimeRange" value="0" onchange="rcpSliderMoved()" oninput="rcpSliderMoved()">
              <input type="text" id="rcpTimestamp" name="timestamp" hidden required>
              <span id="rcpDateTimeText"></span>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <div class="mb-3">
              <button class="btn btn-primary" id="rcpFormButton" type="submit">Predict</button>
          </div>
      </div>
        </form>
    </div>
  </div>
  </div>
