
  <div class="modal fade" id="rcpForm"  aria-labelledby="rcpForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rcpForm">New Runway Configuration Prediction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{{ url_for('web.runway_config_prediction') }}">
          <div class="modal-body">
            <div class="form-group">
            <div class="mb-3">
            <label for="rcpDestinationIcao" class="form-label">Arriving to</label>
                <select id="rcpDestinationIcao" name="destination_icao" class="form-control" required onchange="rcpDestinationAirportSelected()">
                    <option value="" label=""></option>
                  {% for airport in destination_airports %}
                    <option value="{{ airport.icao }}" label="{{ airport.title }}"></option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-3">
              <label for="rcpDateTimeRange" class="form-label">Arriving at</label>
              <input type="range" class="form-range" min="0" max="0" id="rcpDateTimeRange" value="0" onchange="rcpSliderMoved()" oninput="rcpSliderMoved()">
              <input type="text" id="rcpTimestamp" name="timestamp" hidden required>
              <span id="rcpDateTimeText"></span>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <div class="mb-3">
              <button class="btn btn-primary" id="rcpFormButton" type="submit">Predict</button>
          </div>
      </div>
        </form>
    </div>
  </div>
  </div>
