<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Predicted Runway</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
          integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
          integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        rel="stylesheet"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" style="width: 100%">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#">Predicted Runway</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                New prediction
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for airport_data in destination_airports_data %}
                    <li>
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           href="#newPredictionForm"
                           onclick="onSelectingDestinationAirport('{{ airport_data["icao"] }}')">{{ airport_data["label"] }}
                        </a>
                    </li>
                  {% endfor %}
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="newPredictionForm" aria-hidden="true" aria-labelledby="predictionForm" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="predictionForm">New Runway Prediction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <div class="modal-body">
            <div class="mb-3">
              <input type="text" id="destination" hidden>
              <label for="originAirports" class="form-label">Departing from</label>
              <input class="form-control" list="originAirportOptions" id="origin" name="origin" placeholder="Type to search" onkeyup="updateOriginAirports()">
              <datalist id="originAirportOptions">
              </datalist>
            </div>
            <div class="mb-3">
              <label for="dateTimeRange" class="form-label">Arriving at</label>
              <input type="range" class="form-range" min="0" max="48" id="dateTimeRange" value="0" onchange="sliderMoved()">
              <input type="text" id="timestamp" name="timestamp" hidden>
              <span id="date_time"></span>
            </div>
          </div>
        <div class="modal-footer">
          <div class="mb-3">
              <a class="btn btn-primary" id="formButton" role="button" href="" onclick="resetForm()">Predict</a>
          </div>
      </div>
    </div>
  </div>
  </div>

    <script>
      function getCurrentTimestamp() {
        return Math.ceil(new Date().getTime() / 1000);
      }

      function sliderMoved() {
        updateCurrentTimestamp();
        updateFormButtonHref();
      }

      function updateCurrentTimestamp() {
        const sliderValue = window.document.getElementById('dateTimeRange').value;
        window.document.getElementById('timestamp').value = getCurrentTimestamp() + (3600 * sliderValue);
        window.document.getElementById('date_time').innerHTML = `Currently selected: <strong>${new Date(window.document.getElementById('timestamp').value * 1000).toUTCString()}</strong>`;
      }

      function updateFormButtonHref() {
        const origin = window.document.getElementById('origin').value;
        const destination = window.document.getElementById('destination').value;
        const timestamp = window.document.getElementById('timestamp').value;
        const url = `{{ url_for('web.web_runway_prediction', airport_icao='') }}/${destination}`;

        window.document.getElementById('formButton').href = `${url}?origin=${origin}&timestamp=${timestamp}`;
      }

      function resetForm() {
        window.document.getElementById('origin').value = '';
        window.document.getElementById('timestamp').value = '';
      }

      function onSelectingDestinationAirport(airport) {
          updateFormTitle(airport);
          updateDestinationAirport(airport);
      }

      function updateFormTitle(airport) {
          window.document.getElementById('predictionForm').innerHTML = `New Runway Prediction | Arriving in ${airport}`;
      }

      function updateDestinationAirport(airport) {
        window.document.getElementById('destination').value = airport;
      }

      function updateOriginAirports() {
          const search_value = window.document.getElementById('origin').value;

          if (search_value.length < 2) {
              return;
          }

          $.ajax({url: `/airports-data/${search_value}`, success: function(res){
              let optionsHtml = '';
              res.forEach((r) => {
                 optionsHtml += `<option label="${r.label}" value="${r.icao}"></option>`
              });

              window.document.getElementById('originAirportOptions').innerHTML = optionsHtml;
          }});
      }

      $( document ).ready(function() {
          const alertList = document.querySelectorAll('.alert')
          if (alertList.length > 0) {
            setTimeout(() => {
                alertList.forEach((a) =>  new bootstrap.Alert(a).close())
            },
            10000);
          }
      });

    </script>
  {% block content %}
  {% endblock %}
</body>
</html>
