{% extends 'base.html' %}

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
{% block content %}
    <div class="container">
        <h1>Predicted Runway In-Use {{ airport }}</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div
            class="alert alert-{{ category }} d-flex align-items-center alert-dismissible fade show"
            role="alert"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                viewBox="0 0 16 16"
                role="img"
                aria-label="Warning:"
            >
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            {{ message }}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container-sm">
            <form method="post">
{#                <div class="row mb-3" id="date-container">#}
{#                    <label for="date" class="form-label">Date</label>#}
{#                    <input type="text" name="date" class="form-control"#}
{#                           placeholder="Date of arrival"></input>#}
{#                </div>#}
{#                <div class="row mb-3">#}
{#                    <label for="hour" class="form-label">Hour</label>#}
{#                    <input type="text" name="hour" class="form-control"#}
{#                           placeholder="Estimated hour of arrival in 24H format (UTC)"></input>#}
{#                </div>#}
{#                <div class="row mb-3">#}
{#                    <label for="origin" class="form-label">Origin</label>#}
{#                    <input type="text" name="origin" class="form-control"#}
{#                           placeholder="ICAO Code of the origin airport"></input>#}
{#                </div>#}
{#                <div class="row mb-3">#}
{#                    <label for="wind-dir" class="form-label">Wind Direction</label>#}
{#                    <input type="text" name="wind-dir" class="form-control"#}
{#                           placeholder="(Optional) Wind direction in sexagesimal degrees"></input>#}
{#                </div>#}
{#                <div class="row mb-3">#}
{#                    <label for="wind-speed" class="form-label">Wind Speed</label>#}
{#                    <input type="text" name="wind-speed" class="form-control"#}
{#                           placeholder="(Optional) Wind speed in Knots"></input>#}
{#                </div>#}
                <div class="row mb-3">
                    <label for="originAirports" class="form-label">Choose origin airport</label>
                    <input class="form-control" list="originAirportOptions" id="originAirports" name="origin" placeholder="Type to search...">

                    <datalist id="originAirportOptions">
                        {% for data in origin_airports_data %}
                            <option label="{{ data['label'] }}" value="{{ data['icao'] }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <script>
                $('#date-container input').datepicker({
                    format: "yyyy/mm/dd",
                    todayBtn: "linked",
                    todayHighlight: true,
                    weekStart: 1,
                    autoclose: true
                });
            </script>
        </div>
    </div>
{% endblock %}
