{% extends 'index.html' %}
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->


{% block modelStats %}

    {% if result %}
        {% include 'runwayConfigStats.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-grid gap-3">
      <div class="p-2">
        {% include 'warnings.html' %}
      </div>

    {% if result %}
      <div class="p-2">
        <div class="accordion" id="accordionExample">

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                  >
                      <span>
                          <strong>Runway Configuration Prediction</strong> |
                          {{ result['prediction_input']['destination_icao'] }}
                          | {{ result['prediction_input']['date_time'] }}
                      </span>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="predictionInput-tab" data-bs-toggle="tab" data-bs-target="#predictionInput" type="button" role="tab" aria-controls="predictionInput" aria-selected="true">Prediction input</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="predictionOutput-tab" data-bs-toggle="tab" data-bs-target="#predictionOutput" type="button" role="tab" aria-controls="predictionOutput" aria-selected="false">Prediction output</button>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade" id="predictionInput" role="tabpanel" aria-labelledby="predictionInput-tab">
                          <div class="table-responsive">

                            <table class="table table-sm">
                                <tbody>
                                  <tr>
                                    <td><strong>Destination airport ICAO</strong></td>
                                    <td>{{ result['prediction_input']['destination_icao'] }}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Date time</strong></td>
                                    <td>{{ result['prediction_input']['date_time'] }}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>Wind direction</strong></td>
                                      {% if result['prediction_input']['wind_input_source'] %}
                                        <td>{{ result['prediction_input']['wind_direction'] }}&#176; ({{ result['prediction_input']['wind_input_source'] }})</td>
                                      {% else %}
                                        <td>{{ result['prediction_input']['wind_direction'] }}&#176;</td>
                                      {% endif %}
                                  </tr>
                                  <tr>
                                    <td><strong>Wind speed</strong></td>
                                      {% if result['prediction_input']['wind_input_source'] %}
                                        <td>{{ result['prediction_input']['wind_speed'] }}kts ({{ result['prediction_input']['wind_input_source'] }})</td>
                                      {% else %}
                                        <td>{{ result['prediction_input']['wind_speed'] }}kts</td>
                                      {% endif %}
                                  </tr>
                                </tbody>
                              </table>
                          </div>

                      </div>
                      <div class="tab-pane fade show active" id="predictionOutput" role="tabpanel" aria-labelledby="predictionOutput-tab">
                          <div class="table-responsive">

                            <table class="table table-sm table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Runway Configuration</th>
                                    <th scope="col">Probability</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for feature in result['prediction_output']['features'] %}
                                    <tr onclick="onRunwayConfigClick({{ loop.index0 }})" id="runway-config-row-{{ loop.index0 }}">
                                        <td>{{ feature['properties']['runways'] | map(attribute='name') | list | join(", ")}}</td>
                                        <td>{{ "{:.0%}".format(feature['properties']['probability']) }}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                          </div>

                      </div>
                    </div>


                </div>
              </div>

            </div>
        </div>
      </div>
      <div class="p-2">
        <div id="map" style="height: 700px"></div>
      </div>
      <div>
        <a class="openapi-link"
            href="/api/0.1/ui"
        >Predicted Runway API specifications</a>
      </div>
    {% endif %}
</div>
    <script>
        let result = JSON.parse('{{ result|tojson }}');
    </script>
    <script src="{{ url_for('static', filename = 'js/runwayConfig.js') }}"></script>
{% endblock %}
