
  <div class="modal fade" id="rpForm" aria-hidden="true" aria-labelledby="rpForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rpForm">New Runway Prediction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{{ url_for('web.runway_prediction') }}">
          <div class="modal-body">
            <div class="form-group">
            <div class="mb-3">

              <label for="rpOriginAirports" class="form-label">Departing from</label>
              <input autoComplete="off"
                     class="form-control"
                     list="rpOriginAirportOptions"
                     id="rpOriginIcaoListItem"
                     placeholder="Type to search"
                     onkeyup="updateRpOriginAirports()"
                     onchange="rpOriginAirportSelected()"
                     required
              >
              <datalist id="rpOriginAirportOptions">
              </datalist>
              <input id="rpOriginIcao" name="origin_icao" type="text" hidden required>
            </div>
            <div class="mb-3">
            <label for="rpDestinationIcao" class="form-label">Arriving to</label>
                <select id="rpDestinationIcao" name="destination_icao" class="form-control" required onchange="rpDestinationAirportSelected()">
                    <option value="" label=""></option>
                  {% for airport in destination_airports %}
                    <option value="{{ airport.icao }}" label="{{ airport.title }}"></option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-3">
              <label for="rpDateTimeRange" class="form-label">Arriving at</label>
              <input type="range" class="form-range" min="0" max="0" id="rpDateTimeRange" value="0" onchange="rpSliderMoved()" oninput="rpSliderMoved()">
              <input type="text" id="rpTimestamp" name="timestamp" hidden required>
              <span id="rpDateTimeText"></span>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <div class="mb-3">
              <button class="btn btn-primary" id="rpFormButton" type="submit">Predict</button>
          </div>
      </div>
        </form>
    </div>
  </div>
  </div>
